<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body >
    
    <div class="one">
       <img class="kore" src="../../assets/img/kore.png" width="90px" height="30px">
    </div>
    <div class="two">
        <img class="image" src="../../assets/img/forklift.jpg">
    </div>
    <div class="three">
      <h1 style="text-align: center;">Agile</h1>
      <p style="text-align: justify; padding:2px; margin-right: 10px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; margin-top: 12px;">In software development, agile practices include requirements discovery and solutions improvement through the collaborative effort of self-organizing and cross-functional teams with their customer(s)/end user(s) adaptive planning, evolutionary development, early delivery, continual improvement, and flexible responses to changes in requirements, capacity, and understanding of the problems to be solved.
       </p>
      <button (click)="btnclick()" class="btn btn-primary" style="margin-left: 160px; margin-bottom: 30px;">click here</button>
    </div>

</body>
</html>